<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head') %>
  <body>
    <% //if (){ %>
    <!-- aca quiero decir que si esta logueado el usuario muestre -->
    <%- //include('./partials/headerLogueado') %> <% //}else { %>
    <!-- si no está logueado  -->
    <%- //include('./partials/header') %> <%// } %> <%-
    include('./partials/header') %>
    <!-- Banner -->
    <div class="banner">
      <img
        src="/images/BannerDescuentos.jpg"
        alt="Banner de descuentos"
      />
    </div>
    <!-- /Banner -->

    <!-- Novedades -->
    <div class="container products-wrapper">
      <div class="row">
        <div class="col-12">
          <h2 class="products-title">Novedades</h2>
        </div>
        <!-- Show the "ultimos" products -->
        <% for(let i = 0; i < 4; i++) { %>
        <div class="col-12 col-sm-6 col-lg-3">
          <section class="product-box">
            <a href="/products/id/<%= listaProducts[i].id %>">
              <figure class="product-box_image">
                <img
                  src="<%= listaProducts[i].imagen %>"
                  alt="<%= listaProducts[i].nombre %>"
                />
              </figure>
              <article class="product-box_data">
                <h2><%= listaProducts[i].nombre %></h2>
                <p><%= listaProducts[i].descripcion %></p>
                <p>Comentarios: 12</p>
              </article>
            </a>
          </section>
        </div>
        <% } %>
      </div>
    </div>
    <!-- /Novedades -->

    <!-- Más comentados -->
    <div class="container products-wrapper">
      <div class="row">
        <div class="col-12">
          <h2 class="products-title">Más comentados</h2>
        </div>
        <!-- Show the "ultimos" products -->
        <% for(let i = 0; i < 8 ; i++){ %>  <!-- consultar como hacer para que aparezcan los productos a partir del cuarto -->
        <div class="col-12 col-sm-6 col-lg-3">
          <section class="product-box">
            <a href="/products/id/<%= listaProducts[i].id %>">
              <figure class="product-box_image">
                <img
                  src="<%= listaProducts[i].imagen %>"
                  alt="<%= listaProducts[i].nombre %>"
                />
              </figure>
              <article class="product-box_data">
                <h2><%= listaProducts[i].nombre %></h2>
                <p>
                  <%= listaProducts[i].descripcion %>
                </p>
                <p>Comentarios: 12</p>    <!-- nos faltó esto en la db, consultar como agregarlo al MySQL -->
              </article>
            </a>
          </section>
        </div> 
          <% } %>
      </div>
    </div>
    <!-- /Más comentados -->
    <%- include('./partials/footer') %>
  </body>
</html>


   