<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head') %>
  <body>
    <% if (locals.usuarioLogueado != undefined){ %>
      <%- include('./partials/headerLogueado') %> 
      <% }else { %>
      <%- include('./partials/header') %> 
      <% } %>

    <!-- product detail -->
    <div class="container products-wrapper">
      <div class="d-flex align-items-center">
        <h2 class="products-title"><%=productUnique.nombre %></h2>
        <p class="product-detail-description">
          <a href="/users/profileEdit">Editar</a>
        </p>
      </div>
      <div class="product-detail">
        <div class="row">
          <article class="col-12 col-lg-8 product-detail-info">
            <img
              src= "/images/products/<%=productUnique.imagen %>"
              alt="<%= productUnique.nombre%>"
              class="product-detail-img"
            />
            <p class="product-detail-description">
               <%= productUnique.descripcion %> 
            </p>
            <p class="product-detail-description">
             by <%= owner.nombre %> 
           </p>
          </article>
		  <!--comentarios y usuatios --> 
      
          <div class="col-12 col-lg-4">
            <section class="comments">
              <% for ( let j=0; j < comentario.length ; j++){ %>
              <article>
                <img src="<%= comentario[j].fotoDePerfil %>" alt="<%=comentario[j].Nombre%>" /> //cambiar nombre de las imagenes creo
                <div class="data">
                  <p class="user">
                    <strong>
                      <a href="/users/profile"><%=comentario[j].Nombre %> </a> <!--preguntar como hacer la ruta a profile--> 
                    </strong>
                    <%= comentario[j].textoDelComentario %>
                  </p>
                </div>
              </article>
            <% } %>
            </section>
            <form class="form" action="" method="POST">
              <input
                class="form-input"
                type="text"
                value=""
                placeholder="Agregar comentario"
              />
              <button type="submit" class="buy-now-button">
                AGREGAR COMENTARIO
              </button>
            </form>
            <hr />
          </div>
        </div>
      </div>
    </div>
    <!-- /product detail -->

    <%- include('./partials/footer') %>
  </body>
</html>
