<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head') %>
  <body>
    <% if (locals.user!= undefined){ %>
      <%- include('./partials/headerLogueado') %> 
      <% }else { %>
      <%- include('./partials/header') %> 
      <% } %>

    <!-- product detail -->
    <div class="container products-wrapper">
      <div class="d-flex align-items-center">
        <h2 class="products-title"><%=productUnique.nombre %></h2>
        <p class="product-detail-description">
          <a href="/users/profileEdit">Editar</a>
          <!-- agregar un if de q solo se pueda borrar si el usuario lo subió -->
        <% if (locals.user != undefined) { %>
          <% if(locals.user.id == productUnique.FkUsuariosId ){ %>
         
            <form  class="boton-delete-product" action="/products/id/<%= productUnique.id %>/delete" method="POST">
              <input type="hidden" name="idABorrar" id="" value="<%= productUnique.id %> ">
              <button class="product-detail-description" type="submit">Borrar producto</button>
            </form>
         
          <%  } %>
        <% } %>
        </p>
      </div>
      <div class="product-detail">
        <div class="row">
          <article class="col-12 col-lg-8 product-detail-info">
            <img
              src= "<%=productUnique.imagen %>"
              alt="<%= productUnique.nombre%>"
              class="product-detail-img"
            />
            <p class="product-detail-description">
               <%= productUnique.descripcion %> 
              </p>
              
              <a href="/users/profile/<%=owner.id%>">
                Subido por <%= owner.nombre %> 
              </a>
            </article>
            <!--comentarios y usuarios--> 
            
            <div class="col-12 col-lg-4">
              <section class="comments">
              <% if(locals.errors){ %>
                <p class="error"> <%= errors.message %></p>
                <% } %>
              <% for ( let j=0; j < comentario.length ; j++){ %>
              <article>
                <img src="/images/users/<%=comentario[j].comentador.fotoDePerfil %>" alt="<%=comentario[j].comentador.nombre%>" /> 
                <div class="data">
                  <p class="user">
                    <strong>
                      <a href="/users/profile/<%=comentario[j].FkUsuariosId %>"> <%= comentario[j].comentador.nombre%>   </a>
                    </strong>
                  </p>
                  <p>
                    <%= comentario[j].textoDelComentario %>
                  </p>
                </div>
              </article>
            <% } %>
            </section>
            <% if (locals.user != undefined){%>
            <form class="form"  method="POST">
              <input type="text" name="newComment" placeholder="¿Qué opinas?" class="form-input">
              <button type="submit" class="buy-now-button">
                AGREGAR COMENTARIO
              </button>
            </form>
            <%} else{%>
              <a href="/users/login"><button class="buy-now-button">Debes iniciar sesión para comentar</button></a>
              <%}%>
                <hr />
              </div>
        </div>
      </div>
    </div>
    <!-- /product detail -->

    <%- include('./partials/footer') %>
  </body>
</html>
