<!DOCTYPE html>
<html lang="es">
	<%- include('./partials/head') %>

<body>
	<% if (locals.user!= undefined){ %>
		<%- include('./partials/headerLogueado') %> 
		<% }else { %>
		<%- include('./partials/header') %> 
		<% } %> 
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title"> <strong> <%= locals.user.nombre%></strong> , completa el formulario y agrega nuevos productos...</h2>
			</div>

			<form method="POST" action="/products/add">
						
						
						<label class="form-label">Nombre</label>
						<input type="text" name="nombre" placeholder="Sillon X" class="form-input">
					
						
						<label class="form-label">Descripción</label>
						<input type="text" name="descripcion" class="form-input" placeholder="Describa el producto que quiere cargar">
						<input class="hidden" type="hidden"  name="user_id" value="<%= locals.user.id %>">

						
						<label class="form-label">Precio</label>
						<input type="text" name="precio" class="form-input">
						

						
						<label class="form-label">Imagén</label>
						<input type="text" name="imagen" class="form-input">
					
						<br>
						<button type="submit" class="form-input">Agregar producto</button>
					</form>

					<% if(locals.errors){ %>
						<p class="error"> <%= errors.message %></p>
				
					<% } %>

			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> </h2>


	<%- include('./partials/footer') %>
</body>

</html>