<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>
<body>
	<% if (locals.user!= undefined){ %>
		<%- include('./partials/headerLogueado') %> 
		<% }else { %>
		<%- include('./partials/header') %> 
		<% } %>

	<div class="container products-wrapper">
		<div class="row">
			<% if (locals.user != undefined) { %>
			<div class="col-12">
				<h2 class="products-title"><%=locals.user.nombre%>, aquí están los resultados de búsqueda de productos</h2>
			</div>
			<% } else {%>

			<div class="col-12">
				<h2 class="products-title"> Aquí están los resultados de búsqueda de productos</h2>
			</div>

			<% } %>

			<h2 class="col-12"> </h2>
			<div class="container products-wrapper">
				<div class="row">
					<% if (products != "" && products){ %>				
					<div class="col-12 col-sm-6 col-lg-3">
						<% for (let i=0; i < products.length; i++){%>
						<section class="product-box">
							<a href="/products/id/<%= products[i].id %>">
								<figure class="product-box_image">
									<img src="/images/products/<%=products[i].imagen %>" alt="<%= products[i].nombre %>">
								</figure>
								<article class="product-box_data">
									<h2><%= products[i].nombre %></h2>
									<p><%= products[i].descripcion %></p>
									<p>Comentarios: <%= products[i].comentarios.length %></p>
									<% if (products[i].owner != undefined){%>
										<a href="/users/profile/<%= products[i].FkUsuariosId %>"> Subido por <%=products[i].owner.nombre%></a> <!--agregar clase y poner en css-->
									<% } %>
								</article>
							</a>
						</section>
						<% } %>
						<%} else{%>
							<h2 class="coincidencias" >No se encontraron coincidencias para su búsqueda</h2> <!--agregar esta clase en css-->
							<%}%>
					</div>
					
				</div>
			</div>

	<%- include('./partials/footer') %>
</body>

</html>